<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Spring Boot Thymeleaf Application - Bootstrap Autocomplete</title>

  <link th:rel="stylesheet" th:href="@{/assets/select2-develop/dist/css/select2.css}"/>
  <link th:rel="stylesheet" th:href="@{/assets/select2-bootstrap4-theme-master/dist/select2-bootstrap4.css}"/>
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<!-- Navigation -->


<div class="container-fluid border">

  <div class="card">
    <div class="row">
      <div class="col">
        <div th:insert="fragments.html :: logo"></div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div th:insert="fragments.html :: navbar"></div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div th:insert="fragments.html :: adminbar"></div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <form action="#" th:action="@{/addTrip}" th:object="${wycieczka}" method="post" enctype="multipart/form-data">
          <p>Nazwa: <input type="text" th:field="*{name}" required="required"/></p>
          <p>Lot z lotniska: <select th:field="*{from}" class="form-control">
            <option th:each="lotnisko: ${lotniska}" th:value="${lotnisko.airportId}" th:text="${lotnisko.name}" required="required"></option>
          </select></p>
          <p>Lot do lotniska: <select th:field="*{to}" class="form-control">
            <option th:each="lotnisko: ${lotniska}" th:value="${lotnisko.airportId}" th:text="${lotnisko.name}" required="required"></option>
          </select></p>
          <p>Nocowanie w hotelu: <select th:field="*{hotel}" class="form-control">
            <option th:each="hotel: ${hotele}" th:value="${hotel.hotelId}" th:text="${hotel.name}" required="required"></option>
          </select></p>
          <p>Data wyjazdu: <input type="date" th:value="*{departureDate}" th:field="*{departureDate}" required="required"/></p>
          <p>Data powrotu: <input type="date" th:value="*{returnDate}" th:field="*{returnDate}" required="required"/></p>
          <p>Ilość dni: <input type="number" min="0" th:field="*{daysDuration}" /></p>
          <p>Typ wycieczki: <select th:field="*{type}" class="form-control">
            <option th:each="typy : ${T(biuro.podrozy.projekt.model.Typ).values()}" th:value="${typy}" th:text="${typy}" required="required"></option>
          </select></p>
          <p>Cena za dorosłego: <input type="number" min="0"  step="0.01" th:field="*{adultPrice}" required="required"/></p>
          <p>Cena za dziecko: <input type="number" min="0"  step="0.01" th:field="*{kidsPrice}" required="required"/></p>
          <label th:for="promoted" th:text="'Czy promowana:'"></label> <input type="checkbox" th:field="*{promoted}" />
          <p>Ilość miejsc dla dorosłych: <input type="number" min="0" th:field="*{adultNumberOfSeats}" required="required"/></p>
          <p>Ilość miejsc dla dzieci: <input type="number" min="0" th:field="*{kidsNumberOfSeats}" required="required"/></p>
          <p>Dodaj zdjęcie: <input type="file" class="form-control" placeholder="" name="photo" id="photo" required="required"></p>
          <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <footer th:insert="fragments.html :: footer">

        </footer>
      </div>
    </div>
  </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/select2-develop/dist/js/select2.full.js}"></script>
<script src="/js/add.js"></script>
</body>
</html>