<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Spring Boot Thymeleaf Application - Bootstrap Autocomplete</title>

  <link th:rel="stylesheet" th:href="@{assets/select2-develop/dist/css/select2.css}"/>
  <link th:rel="stylesheet" th:href="@{assets/select2-bootstrap4-theme-master/dist/select2-bootstrap4.css}"/>
  <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>

<!-- Navigation -->


<div class="container-fluid border">

  <div class="card">
    <div class="row">
      <div class="col">
        <div th:insert="fragments.html :: logo"></div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div th:insert="fragments.html :: navbar"></div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div th:insert="fragments.html :: adminbar"></div>
      </div>
    </div>


    <div class="row">
      <div class="col">
        <div th:insert="fragments.html :: main">

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <form action="#" th:action="@{/addCountry}" th:object="${kraj}" method="post">
          <p>Nazwa: <input type="text" th:field="*{name}" /></p>
          <p>W jakim kontynencie się znajduje<select th:field="*{continent}" class="form-control">
            <option th:each="kontynent: ${kontynenty}" th:value="${kontynent.continentId}" th:text="${kontynent.name}"></option>
          </select></p>
          <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <footer th:insert="fragments.html :: footer">

        </footer>
      </div>
    </div>
  </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{assets/select2-develop/dist/js/select2.full.js}"></script>
</body>
</html>