<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Spring Boot Thymeleaf Application - Bootstrap Autocomplete</title>

  <link th:rel="stylesheet" th:href="@{assets/select2-develop/dist/css/select2.css}"/>
  <link th:rel="stylesheet" th:href="@{assets/select2-bootstrap4-theme-master/dist/select2-bootstrap4.css}"/>
  <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>

<!-- Navigation -->


<div class="container-fluid border">

  <div class="card">
    <div class="row">
      <div class="col">
        <div th:insert="fragments.html :: logo"></div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div th:insert="fragments.html :: navbar"></div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div th:insert="fragments.html :: main">

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <form action="#" th:action="@{/searchAirport}" th:object="${lotnisko}" method="post">
          <p>Wyszukaj wycieczkę po wylocie z: <select th:field="*{name}" class="form-control">
            <option th:each="lotnisko: ${lotniska}" th:value="${lotnisko.name}" th:text="${lotnisko.name}"></option>
          </select></p>
          <p><input type="submit" value="Submit" /></p>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <footer th:insert="fragments.html :: footer">

        </footer>
      </div>
    </div>
  </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{assets/select2-develop/dist/js/select2.full.js}"></script>
</body>
</html>